
<div class="wraper clasena">
    <ul class="nav flex-column">
        <li class="caja">
          <a class="opciones" href="#"><i class="fas fa-newspaper"></i> <b> Noticias </b></a>
        </li>
        <li class="caja">
          <a class="opciones" [routerLink]="['/avisos']"><i class="fas fa-exclamation-triangle"></i> <b> Avisos Urgentes </b></a>
        </li>
        <li class="caja">
          <a class="opciones" [routerLink]="['/encuestas']"> <i class="fas fa-clipboard-list"></i> <b class="margen"> Encuestas </b></a>
        </li>
        <li class="caja">
          <a class="opciones" [routerLink]="['/usuarios-directorio']"> <i class="fas fa-users"></i> <b> Usuarios y Directorio </b></a>
        </li>
        <li class="caja">
          <a class="opciones" [routerLink]="['/salas']"><i class="far fa-building"></i> <b class="margen">Salas </b></a>
        </li>
        <li class="caja">
          <a class="opciones" [routerLink]="['/quejas-sugerencias']"><i class="far fa-handshake"></i> <b class="margen">Quejas/Sugerencias</b></a>
        </li>
        <li class="caja">
          <a class="opciones" [routerLink]="['/comedor']"><i class="fas fa-utensils"> </i> <b class="margen">Comedor</b> </a>
        </li>
        <li class="caja">
          <a class="opciones" [routerLink]="['login']"> <i class="fas fa-sign-out-alt"></i> <b class="margen">Cerrar Sesión</b> </a>
        </li>
      </ul>
</div>
    
